In [1]:
# Dependencies
import requests
import json

In [2]:
# URL for GET requests to retrieve Star Wars character data
base_url = "https://swapi.co/api/people/"

In [4]:
# Create a url with a specific character id
character_id = '4'
url = base_url + character_id
print(url)

https://swapi.co/api/people/4

In [5]:
# Perform a get request for this character
response = requests.get(url)
print(response.url)

https://swapi.co/api/people/4/

In [6]:
# Storing the JSON response within a variable
data = response.json()
print(json.dumps(data, indent=4, sort_keys=True))

{
    "birth_year": "41.9BBY",
    "created": "2014-12-10T15:18:20.704000Z",
    "edited": "2014-12-20T21:17:50.313000Z",
    "eye_color": "yellow",
    "films": [
        "https://swapi.co/api/films/2/",
        "https://swapi.co/api/films/6/",
        "https://swapi.co/api/films/3/",
        "https://swapi.co/api/films/1/"
    ],
    "gender": "male",
    "hair_color": "none",
    "height": "202",
    "homeworld": "https://swapi.co/api/planets/1/",
    "mass": "136",
    "name": "Darth Vader",
    "skin_color": "white",
    "species": [
        "https://swapi.co/api/species/1/"
    ],
    "starships": [
        "https://swapi.co/api/starships/13/"
    ],
    "url": "https://swapi.co/api/people/4/",
    "vehicles": []
}

In [7]:
# Collecting the name of the character collected
character_name = data["name"]

In [27]:
# Counting how many films the character was in
film_number = len(data["films"])

In [24]:
arr = [i for i in data['films']]

d = {}
for i,value in enumerate(arr):
    d[i] = value
    
d

{0: 'https://swapi.co/api/films/2/',
 1: 'https://swapi.co/api/films/6/',
 2: 'https://swapi.co/api/films/3/',
 3: 'https://swapi.co/api/films/1/'}

In [28]:
import pandas as pd
df = pd.DataFrame({'character':[character_name], 'film':[film_number]})
df

     character  film
0  Darth Vader     4

In [29]:
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [8]:
# Figure out what their first starship was
first_ship_url = data["starships"][0]
ship_response = requests.get(first_ship_url).json()
ship_response

{'MGLT': '105',
 'cargo_capacity': '150',
 'consumables': '5 days',
 'cost_in_credits': 'unknown',
 'created': '2014-12-12T11:21:32.991000Z',
 'crew': '1',
 'edited': '2014-12-22T17:35:44.549047Z',
 'films': ['https://swapi.co/api/films/1/'],
 'hyperdrive_rating': '1.0',
 'length': '9.2',
 'manufacturer': 'Sienar Fleet Systems',
 'max_atmosphering_speed': '1200',
 'model': 'Twin Ion Engine Advanced x1',
 'name': 'TIE Advanced x1',
 'passengers': '0',
 'pilots': ['https://swapi.co/api/people/4/'],
 'starship_class': 'Starfighter',
 'url': 'https://swapi.co/api/starships/13/'}

In [9]:
first_ship = ship_response["name"]

In [10]:
# Print character name and how many films they were in
print(f"{character_name} was in {film_number} films")

Darth Vader was in 4 films

In [11]:
# Print what their first ship was
print(f"Their first ship: {first_ship}")

Their first ship: TIE Advanced x1

In [12]:
# BONUS
films = []

for film in data['films']:
    cur_film = requests.get(film).json()
    film_title = cur_film["title"]
    films.append(film_title)
    
print(f"{character_name} was in:")
print(films)

Darth Vader was in:
['The Empire Strikes Back', 'Revenge of the Sith', 'Return of the Jedi', 'A New Hope']